.DS_Store
.jekyll
.jekyll-metadata
.bundle
Gemfile
node_modules
package.json

# Global
*.DS_Store
Desktop.ini
Thumbs.db

# Project
!.keep
*.sass-cache
/_assets/yarn/
/_site/
/.jekyll-cache/
Gemfile.lock
yarn.lock
